<?xml version="1.0"?>
<!DOCTYPE module PUBLIC          "-//Puppy Crawl//DTD Check Configuration 1.3//EN"          "http://checkstyle.sourceforge.net/dtds/configuration_1_3.dtd">
<module name="Checker">
    <module name="TreeWalker">
        <!-- Verifica os blocos vazios, mas não valida blocos sequenciais. -->
        <module name="EmptyBlock"/>
        <!-- Detecta declarações vazias (standalone ';'). -->
        <module name="EmptyStatement"/>
        <!-- Verifica a existência de números mágicos. -->
        <module name="MagicNumber"/>
        <!-- Verifica o número de parâmetros que um método ou construtor tem. -->
        <module name="ParameterNumber">
            <property name="max" value="5"/>
            <property name="tokens" value="METHOD_DEF"/>
        </module>
        <module name="CyclomaticComplexity">
            <property name="max" value="15"/>
        </module>
        <module name="LineLength"/>
        <module name="MethodLength"/>
        <module name="PackageDeclaration"/>
        <module name="UnusedImports"/>
        </module>
</module>